@model IEnumerable<WEB_APP.Models.Panier>
@{
    Layout = "_Navigation";
    ViewData["Title"] = "Panier";
}


@foreach (var panier in Model)
{
    //if(order.Status == DTO.Order.IN_PROGRESS)
    //{
    <ul uk-accordion="multiple: true">

        <li class="@((panier.Order.Status == DTO.Order.IN_PROGRESS)?"uk-open":"")">
            <a class="uk-accordion-title status_com_@panier.Order.Status" href="#">
                @if (panier.Order.Status == DTO.Order.IN_PROGRESS)
                {
                    <span>@panier.Order.StatusStr - @panier.Order.DatetimeCreated </span>
                }
                else
                {
                    <span>@panier.Order.StatusStr par <b>@panier.Staff.Firstname @panier.Staff.Lastname</b> - @panier.Order.DatetimeConfirmed -  @panier.Order.IdStaff</span>
                }

            </a>








            <div class="uk-accordion-content">
                <ul class="uk-list uk-list-divider">
                    @foreach (var od in panier.OrderDishes)
                    {

                        <li>
                            <div class="uk-grid-small" uk-grid>
                                

                                @if (panier.Order.Status == DTO.Order.IN_PROGRESS)
                                {
                                    <a href="@Url.Action("Delete", new { id = od.Order_dish.IdOrder_Dish })" class="uk-icon-link" uk-icon="trash"></a>
                                }
                                <div class="uk-width-expand" uk-leader>@od.Order_dish.Quantity x @od.Dish.Name</div>
                                <div>@(od.Dish.Price * od.Order_dish.Quantity) CHF</div>
                            </div>
                        </li>


                    }
                    <li>
                        <div class="uk-grid-small" uk-grid>
                            <div class="uk-width-expand" uk-leader>TOTAL</div>
                            <div>@panier.Order.TotalPrice CHF</div>
                        </div>
                    </li>
                </ul>
                @if (panier.Order.Status == DTO.Order.IN_PROGRESS)
                {
                    <form asp-action="Confirm" method="get">
                        <div class="uk-margin">
                            <label class="uk-form-label" for="form-horizontal-text">Heure de livraison (Minutes) :</label>
                            <div class="uk-form-controls">
                                <input asp-for="@panier.Order.TimeToDelivery" name="time" class="uk-input" type="number" onkeydown="return false" step="15" />
                                <input asp-for="@panier.Order.IdOrder" name="idOrder" type="hidden" />

                            </div>
                        </div>


                        <button type="submit" disabled="@(panier.Order.NbrDish == 0)" class="uk-button uk-button-primary uk-button-large" style="float:right;">Confirmer la commande</button>


                    </form>
                }
            </div>
        </li>
    </ul>
}



