@model WEB_APP.Models.Restaurant

@{
    Layout = "_Navigation";
    ViewData["Title"] = "Détails du restaurant";
}

@Html.DisplayFor(model => model.Name)



@*<div>
    <h4>Restaurant</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PicPath)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PicPath)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>*@
