
@model IEnumerable<WEB_APP.Models.Panier>
@{
    Layout = "_Navigation";
    ViewData["Title"] = "";
}

<h2>Commandes à livrer</h2>

<div class="uk-form-stacked">
    <ul class="uk-list uk-list-divider">
        @foreach (var panier in Model)
        {

            @if (panier.Order.Status == DTO.Order.TO_DELIVERY)
            {
                <li>

                    <div class="uk-grid-small" uk-grid>

                        <div class="uk-width-expand" uk-leader>Prix total</div>
                        <div>@panier.Order.TotalPrice CHF</div>
                    </div>
                    <input asp-for="@panier.Order.IdOrder" type="hidden" />
                    <span>@panier.Order.StatusStr -  @panier.Order.DatetimeConfirmed </span>
                    <a href="@Url.Action("Delivered", new { id = panier.Order.IdOrder })" class="uk-button uk-button-primary uk-button-small" style="float:right;">Confirmer la livraison</a>

                </li>
            }


        }
    </ul>
</div>

<h2>Commandes traitées</h2>

<div class="uk-form-stacked">
    <ul class="uk-list uk-list-divider">
        @foreach (var panier in Model)
        {

            @if (panier.Order.Status != DTO.Order.TO_DELIVERY && panier.Order.Status != DTO.Order.IN_PROGRESS)
            {
                <li>

                    <div class="uk-grid-small" uk-grid>

                        <div class="uk-width-expand" uk-leader>Prix total</div>
                        <div>@panier.Order.TotalPrice CHF</div>
                    </div>
                    <input asp-for="@panier.Order.IdOrder" type="hidden" />
                    <span>@panier.Order.StatusStr</span>
                </li>

            }
        }
    </ul>
</div>
